:root {
    --bgColor: #fff;
    --gridColor: #fdfdfd;

    --contentWidth: 800px;

    --topMarginHeight: 80px;
    --sideMarginWidth: calc(100vw - var(var(--contentWidth)));

    --borderColor: rgb(192, 192, 192);

    --borderStyle: dashed 1px var(--borderColor);
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background-color: var(--bgColor);
    color: #000;
}

main {
    height: 100%;
}

#top-margin {
    position: absolute;
    width: 100%;
    height: var(--topMarginHeight);
    border-bottom: var(--borderStyle);
}

.container {
    height: 100%;
}

.center-content-wrapper {
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    padding: var(--topMarginHeight) 0;
    height: 100%;
    border-left: var(--borderStyle);
    border-right: var(--borderStyle);
}

.center-content-container {
    margin: 30px 0;
    padding: 15px;
    /* border: solid 1px black; */
}

.section {

}

h1 {
    margin-top: 0;
}

li {
    list-style-type: square;
}

/* li::marker {
    content: '-';
} */

a:visited {
    color: #121212;
}
